<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/css/signin.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="header">
            <a href="/">
                <img class="mb-4" src="/img/bootstrap-solid.svg" alt="" width="72" height="72">
            </a>
            <h1>用户注册</h1>
        </div>
        <form id="register_form" method="post" action="/register">
            <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
            </div>
            <div class="form-group">
                <label for="nickname">昵称</label>
                <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success btn-block">注册</button>
        </form>
        <div class="message">
            <p>已有账号? <a href="/">点击登录</a>.</p>
        </div>
    </div>

</body>

</html>